body {
  background-color: #fac533;
  text-align: center;
}

header img {
  width: 25%;
  height: auto;
  margin: 0 auto;
  display: block;
}
section {
  width: 50%;
  line-height: 1.75em;
  margin: 0 auto;
}
