body {
  background-color: #fac533;
  text-align: center;
}

header img {
  width: 25%;
  height: auto;
  margin: 0 auto;
  display: block;
}
section {
  width: 50%;
  line-height: 1.75em;
  margin: 0 auto;
  text-align: justify;
}

.pull-right {
  text-align: right;
  display: block;
}

.new {
  animation-duration: 1.25s;
  animation-name: flashing;
  color: red;
  animation-iteration-count: infinite;
}

@keyframes flashing {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1;
  }
}
.trolling {
  animation: 1s vue infinite;
}

@keyframes vue {
  50% {
    visibility: hidden;
    color: green;
    content: 'Vue'
  }
}
